.div{
    width: 100%;              /* 幅指定                          */
    background-color: #000;   /* 背景色指定(黒色)                */
    text-align: center;       /* テキスト表示位置指定(中央寄せ)  */
}

.text{
    font-size:30px;           /* 文字サイズ指定                  */
    color: #fff;              /* 色指定(白色)                    */
}