html{
    background: repeating-linear-gradient(white,rgb(140, 218, 222),rgb(65, 182, 228));
}

.bg_test-text{
   border: solid 1px;
   display: inline-block;
   padding: 10px 20px;
   text-align: left;
   padding: 150px;
   border:solid 2px;
   background-image: url(../images/bg.jpg);
   background-repeat: repeat;
   
}
li{
    font-size: large;
}
h2{
    background: repeating-linear-gradient(rgb(65, 182, 228),rgb(140, 218, 222)) ;
}
h1{
    background: repeating-linear-gradient(blue,rgb(65, 182, 228),rgb(140, 218, 222)) ;
}
