html{
    background-color: aliceblue;
}
h1{
    text-align: center;
    color: dodgerblue;
    border: 2px solid dodgerblue;
}
.image{
    object-fit: cover;
    width: 715px;
    height: 420px;
    overflow: hidden;
}
.image2{
    object-fit: cover;
    width: 715px;
    height: 420px;
    overflow: hidden;
}
div{
    border: 2px solid dodgerblue;
    padding: 10px;
    margin: 20px;
}
